/* Add CSS Styling */
.number1 {
    background-color: pink;
    color: black;
    font-family: Verdana;
}


.number2 {
    color:blue;
    font-size: 36px;
}

.number3{
    background-color: pink;
    color: black;
    font-size: 24px;
    font-family: "DejaVu Sans Serif", sans-serif;;
}

.number4{
    background-color: greenyellow;
    font-size: 24px;
    font-weight: bold;
}

.number5 {
    background-color: pink;
    color: black;
    font-family: sans-serif;

}