body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  flex: 1;
}


.header {
  height: 72px;
  font-size: 46px;
  background: darkmagenta;
  color: white;
  display: flex;
  font-weight: 900;
  align-items: center;

}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar {
  font-size: 24px;
  color: white;
  text-decoration: none;
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
  flex-shrink: 0;
  padding: 16px;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  padding: 48px;
  gap: 16px;
}

.card {
  flex: 1 1 300px;
  padding: 16px;
}