/* Add CSS Styling */
.first {
  font-size: 28px;
  background: black;
  color: white;
  font-family: Helvetica, 'Times New Roman', sans-serif;  
}

.second {
    font-size: 28px;
    background-color: yellow;
    color: black;
    font-family: Helvetica, 'Times New Roman', sans-serif;  ;
}