.card {
  padding: 10px;
}

body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  padding: 16px;
  margin: 16px auto;
}

.title {
  background: #e3f4ff;
  font-size: 16px;
  padding: 8px;
}

.content {
  background: #e3f4ff;
  padding: 8px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  margin-top: 10px;
  padding: 10px;
}

button {
  display: block;
  margin: auto;
  padding: 10px;;
  background-color: white;
  border-color: white;
}

